<?xml version="1.0" encoding="utf-8" ?>
<configuration scan="true">

    <appender name="CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n
            </Pattern>
        </layout>
    </appender>
    <appender name="aiAppender"
              class="com.microsoft.applicationinsights.logback.ApplicationInsightsAppender">
        <instrumentationKey>1537b2af-01c4-4368-b286-</instrumentationKey>
    </appender>

    <root level="info">
        <appender-ref ref="aiAppender" />

        <appender-ref ref="CONSOLE" />
    </root>
</configuration>